:root {
    --color-iris: #4D5AE5;
    --color-ocean: #404BBF;
    --color-green: #31D0AA;
    --color-slate: #434455;
    --color-light-slate: #8E8F99;
    --color-cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-grey: #2E2F42;
    --color-white: #ffffff;
    --color-dairy: #FCFCFC;
}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--color-slate);
    background-color: var(--color-white);
}
 
img {
    display: block;
    max-width: 100%; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 0;
    margin: 0 auto;
}

h1, h2, h3, p {
margin: 0 auto;
}

.top-line {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-position {
    display: flex;
    text-align: center;
    min-height: 72px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-position {
display: flex;
align-items: center;
margin-right: auto;
}

.logo-particle-header {
    color: var(--color-grey); 
}

.logo-particle-footer {
    color: var(--color-cloud);
}
.header-address {
    
    display: flex;
    text-align: center;
    align-items: center;
}

.address-position {
display: flex;
    gap: 40px;
   
}



.address-item {
    font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
}

.address-item:hover {
    color: var(--color-ocean);
}

.address-item:focus {
    color: var(--color-ocean);
}

.link{
text-decoration: none;
}



.nav-menu {
 
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
    
        /* NAVY BLUE */
        color: var(--color-grey);
        /* padding: 24px 0; */
}
.header-nav:hover{
color: var(--color-ocean);
}

.header-nav:focus {
color: var(--color-ocean);
}

.header-nav {
        display: flex;
        gap: 40px;
        color: var(--color-grey);
        /* padding: 24px 0; */
}

.header-nav-position {
    padding-top: 24px;
    padding-bottom: 24px;
}

.hero {
    padding: 188px 0;
    margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-img/people-office.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
}



.section-title {
  
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: var(--color-grey);
}

.section-two-icons {
fill: var(--color-grey);
}

.section-two-icons-position {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--color-cloud);
    border-radius: 4px;
    margin-bottom: 8px;

 }

.section-two {
    padding: 120px 0;
}

.section-two-position {
    display: flex;
    gap: 24px;
}

.section-two-item {
    width: calc((100% - 3 * 24px) / 4);

}

.section-title-two {
letter-spacing: 0.02em;
}

.section-three {
padding-bottom: 120px;
}

.section-position-title {
    margin-bottom: 72px;
}

.section-three-list {
    display: flex;
    gap: 24px;
}

.section-three-list-item {
width: calc((100% - 48px) / 3);
}

.section-title-three {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.section-four {
    background-color: var(--color-cloud);
    padding: 120px 0;
}

.section-four-list {
    display: flex;
    gap: 24px;

}

.section-title-four {
 
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.section-four-icons-position {
    display: flex;
    justify-content: center;
    gap: 24px;
   
}

.section-four-icons {
    width: 40px;
    height: 40px;
    
}

.section-four-icon {
    fill: var(--color-cloud);

}

.section-four-icons-link {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-icons-link:hover ,
.section-four-icons-link:focus {
    background-color: var(--color-ocean);
}

.card-position {
    padding: 32px 0;

}

.card-title-position {
    text-align: center;
    margin-bottom: 8px;
}

.card-title-description {
    text-align: center;
    margin-bottom: 8px;
}

.list-item {
    background-color: var(--color-white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-title {
    
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-grey);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.description {

    font-size: 16px;
    line-height: 1.5;
    color: var(--color-slate);
    letter-spacing: 0.02em;
}

.section-five {
    padding: 120px 0;
}

.section-five-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    color: var(--color-grey);
    margin-bottom: 72px;
}

.section-five-icons-position {
    display: flex;
    gap: 24px;

}

.section-five-icons {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.section-five-icons-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-slate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five-icons-link:hover, 
.section-five-icons-link:focus {
    color: var(--color-ocean);
    border-color: var(--color-ocean);
}

.section-portfolio {
    padding: 96px 0 120px;
}

.section-five-icon {
    fill: currentColor;
}

.filter-portfolio-list {
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

.filter {
 
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--color-iris);
        background: var(--color-cloud);
}

.filter-button-position {
    padding: 12px 24px;
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
}

.filter-button-position:hover, .filter-button-position:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);

}

.filter-button:hover {


    background-color: var(--color-ocean);
    color: var(--color-white);
}

.filter-button:focus {

    background-color: var(--color-ocean);
    color: var(--color-white);
}

button[type="button"] {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[type="button"]:hover {
    background: var(--color-ocean);
}

button[type="button"]:focus {
    background: var(--color-ocean);
}

.project-card-position {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}

.project-card-link {
    display: block;
}

.project-card-link:hover ,
.project-card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-item {
width: calc((100% - 48px) / 3);
}

.project-card-description {
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.card-title-project {
margin-bottom: 8px;
}

.main-title {
    color: var(--color-white);
        margin-bottom: 48px;
        
        font-weight: 700;
        font-size: 55px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        
       
}

.main-button {
    background-color: var(--color-iris);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    min-width: 169px;
    height: 56px;
    display: block;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.site-footer {
    background: var(--color-grey);
    padding: 100px 0;

}

.footer-position {
    display: flex;
        align-items: baseline;
}

.footer-section-one {
    /* gap: 120px;
    width: auto; */
    margin: 0 120px 0 0;
}

.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin: 0 0 16px 0;

}

.footer-social-media-link {
    display: flex;
    gap: 16px;
}

.footer-social-icons {
    width: 40px;
    height: 40px;
}

.footer-social-icons-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-link:hover ,
.footer-social-icons-link:focus {
    background-color: var(--color-green);
}

.footer-social-icon {
    fill: var(--color-cloud);
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-description {
    max-width: 264px;
    color: var(--color-cloud);

   
}

.logo {
    font-family: 'Raleway',
        sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--color-iris);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.list {
    list-style: none;
}